# .NET
bin/
obj/
*.user
*.suo
*.cache
*.vcxproj
*.vcxproj.filters
.vs/

# Archivos de compilación
Debug/
Release/
x64/
x86/

# Base de datos
*.mdf
*.ldf

# Configuraciones sensibles
appsettings.Development.json
